<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">{{ page_title }}</h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="{{ path('app_homepage') }}">Главная</a></li>
                {% if product_detail is defined %}
                    <li class="breadcrumbs-item"><a href="{{ path('app_catalog') }}">Каталог</a></li>
                    
                {% endif %}
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>{{ page_title }}</span></li>
            </ul>
        </div>
    </div>
</div>