<div class="Section-column">
    <div class="Section-columnSection">
        <header class="Section-header">
            <strong class="Section-title">Навигация</strong>
        </header>
        <div class="Section-columnContent">
            <div class="NavigateProfile">
                <ul class="menu menu_vt">
                    <li class="menu-item {% if active == 'account' %}menu-item_ACTIVE{% endif %}"><a class="menu-link" href="{{ path('app_account') }}">Личный кабинет</a></li>
                    <li class="menu-item {% if active == 'profile' %}menu-item_ACTIVE{% endif %}"><a class="menu-link" href="{{ path('app_profile') }}">Профиль</a></li>
                    <li class="menu-item {% if active == 'order_history' %}menu-item_ACTIVE{% endif %}"><a class="menu-link" href="{{ path('app_profile_orders') }}">История заказов</a></li>
                    <li class="menu-item {% if active == 'view_history' %}menu-item_ACTIVE{% endif %}"><a class="menu-link" href="{{ path('app_profile_viewhistory') }}">История просмотра</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>