
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!-->
<html lang="ru">
<!--<![endif]-->
    <head>
        <title>{% block title %}Товарный агрегатор Megano{% endblock %}</title>
        <meta name="description" content="{% block description %}Товарный агрегатор Megano{% endblock %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body class="Site">
    <!--if lt IE 8
    p.error-browser
        | Ваш браузер&nbsp;
        em устарел!&nbsp;
        a(href="http://browsehappy.com/") Выберите новую версию
            +s
            | браузера здесь&nbsp;
        | для правильного отображения сайта.
    -->
    {% include 'components/header.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'components/footer.html.twig' %}
    <!--+Middle-->
    <!--    +div.-top-->
    <!--        +breadcrumbs('Главная','Портфолио')-->
    <!--    +Article('portfolio')-->
    <!---->
    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>